{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
</div>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary btn-user btn-block" value="{% trans 'Submit' %}" />
</form>

<hr>
<div class="text-center">
    <a class="small" href="{% url 'auth_password_reset' %}">{% trans "Forgot Password?" %}</a>
</div>
<div class="text-center">
    <a class="small" href="{% url 'auth_login' %}">{% trans "Already have an account? Login!" %}</a>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
