<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content%}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tickets</h1>
    <p class="mb-4">To submit a ticket for an issue, please fill out the following form.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Create a Ticket</h6>
        </div>
        <div class="card-body">
			<form method='POST' action=''>{% csrf_token %}
				<div class="form-group">
					{{form}}
				</div>
		        <input type="submit" class="btn btn-primary" value='Submit'/>
				<a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
		    </form>
		</div>
	</div>
</div>

{% endblock content %}
