<!-- templates/home.html -->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content%}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Orders</h1>
    <p class="mb-4">
        {% if 'update' in request.path %}
            Please edit the order attributes below.
        {% else %}
            To create an order, please fill out the following form.
        {% endif %}
    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Order Quantities
                <!-- {% if 'update' in request.path %}
                    Edit Order
                {% else %}
                    Create Order
                {% endif %} -->
            </h6>
        </div>

        <div class="card-body">
			<form class="form" method='POST' action=''>
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {% if forloop.last %}
                        {{ form|crispy }}
                    {% else %}
                        {{ form|crispy }}
                        <hr/>
                    {% endif %}
                {% endfor %}
		        <input type="submit" class="btn btn-primary" value='Submit'/>
				<a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
		    </form>
		</div>
	</div>
</div>

{% endblock content %}
