<!-- templates/home.html -->
{% extends base_template_name %}

{% block content%}
<div class="container-fluid">
    {% if messages %}
        <div class="alert alert-success" role="">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Orders</h1>
        <div>
            <a href="{% url 'create_ticket' %}" class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"><i class="fas fa-flag fa-sm text-white-50"></i> Open Ticket</a>
            <a href="{% url 'create_order' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create Order</a>
            
        </div>
    </div>
    
    <!-- Order Data Table -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                {% if request.user.is_staff %}
                    All Orders
                {% else %}
                    Your Orders
                {% endif %}
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Status</th>
                            <th>Order Date</th>
                            <th>Variety of Flavors</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in all_orders_list %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>
                                    {{ order.status }}
                                </td>
                                <td>
                                    {{ order.order_date }}
                                </td>
                                <td>
                                    {{ order.items.count }}
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="{% url 'order_detail' order.id %}"><i class="far fa-eye"></i></a>
                                    <a class="btn btn-success" href="{% url 'update_order' order.id %}"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-danger" href="{% url 'delete_order' order.id %}"><i class="far fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

