<!-- templates/home.html -->
{% extends base_template_name %}

{% block content%}
<div class="container-fluid">
    {% if messages %}
        <div class="alert alert-success" role="">
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Orders</h1>
        <div>
            <a href="{% url 'orders' %}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"><i class="fas fa-chevron-left fa-sm text-white-50"></i> All Orders</a>
        </div>
    </div>


    <!-- Order Details -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Order Details</h6>
        </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Customer</th>
                        <th>Inventory Item</th>
                        <th>Quantity</th>
                        <th>Order Submitted</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in order_items %}
                        <tr>
                            <td>{{ order_item.order }}</td>
                            <td>{{ order_item.inventory_item }}</td>
                            <td>{{ order_item.quantity_on_order }}</td>
                            <td>{{ order_item.submitted }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
